# Imports
import(dplyr)
import(ggplot2)
import(tidyr)
import(cluster)
importFrom("stats", "cutree", "dist", "hclust", "loess",
               "loess.control", "predict")

# Exports
exportPattern("^[[:alpha:]]+")
