exportPattern("^[[:alpha:]]+")

export(models.loess)
export(data.loess)
export(heatmap.loess)
export(cluster.loess)
export(clusterplot.loess)

importFrom(ggplot2, ggplot)
importFrom(dplyr, filter)
importFrom(tidyr, gather)
importFrom(cluster, silhouette)
